<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Multiplayer Snake</title>
		<link rel="stylesheet" href="/assets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/client.js"></script>
	</head>
	<body>
		<h1>Mutliplayer Snake</h1>
		<p>This project is based off of <a href="https://github.com/dhoelzgen/snake">dhoelzgen's snake</a>. Find my updated version <a href="https://github.com/mhsjlw/JavaScript-Snake">here</a>  It has been improved to work with newer version of node and socket.io, enjoy!</p>
		
		<div id="scoreboard">
			<span id="kills">Kills: 0</span> - 
			<span id="deaths">Deaths: 0</span>
		</div><br/>
		
		<canvas id="stage" width="500" height="500">
			Canvas not supported.
		</canvas>
	</body>
</html>